/* navbar */
.navbar{
    font-size: medium;
    font-family: 'Poppins', sans-serif;
    background-color: #EEF2FF;
}

/* carousel */
.carousel{
    padding-top: 70px;
}
.carousel-item{
    height: 600px;
    color: black;
}
.carousel-item img{
    margin-top: -200px;
}

/* card */
#card{
    padding-top: 15px;
}
.col-md-4{
    padding-top: 15px;
}
.card-title{
    margin-top: -10px;
    font-size: larger;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.card-heading{
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

/* berita pengumuman galeri*/
#about{
    padding-top: 10px;
}
.heading{
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.heading-info{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.deskripsi{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.pengumuman{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.bpg{
    padding-top: 50px;
}

/* mitra */
#mitra{
    padding-top: 50px;
}
.mitra-title{
    padding-top: 10px;
}

/* footer */
.footer-title{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.footer-desc{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}